/* #MainMenu { visibility: hidden; } */
footer  { visibility: hidden; }

[data-testid="stAppViewContainer"] [data-testid="stVerticalBlock"] {
    margin-top: -3rem !important; 
}

[data-testid="stExpanderDetails"] {
    padding-top: 4rem !important;
}

/* style form login */
.appview-container .main .block-container [data-testid = 'stForm'] { 
    margin: 140px auto; 
    padding: auto; 
    width: 50%; 
}

/* style logo */
.appview-container [data-testid = 'stSidebar'] .block-container [data-testid = 'stImage'] img { 
    margin: -80px auto 5px auto; 
}
